{% extends 'lost_and_found_base.html' %}

{% block button %}
    <a class="top-button" href="{{url_for('lost_and_found.index', appid=appid , openid=openid)}}" type="button"><b>回到首页</b></a>
{% endblock %}

{% block content %}
    <div class="app-content">
    {% for data in info %}
        <div class="content-list">
            <div class="app-content-img">
                {% if data.lost_or_found == 'found' %}
                    <img class="content-img" src="{{url_for('static',filename='images/found.jpg')}}">
                {% else %}
                    <img class="content-img" src="{{url_for('static',filename='images/lost.jpg')}}">
                {% endif %}
            </div>
            <div class="app-content-text">
                <div class="triangle"></div>
                <div class="article_and_time">
                    <div class="article_name">
                        <a class="article"><b>{{ data.article }}</b></a>
                    </div>
                    <div class="time">
                        <a class="time">{{ data.create_time_str }}</a>
                    </div>
                </div>
                <div class="content-text">
                    <a class="text">{{ data.content }}</a>
                </div>
                <div class="admin-button">
                    <button class="submitResult" formmethod="post" type="submit" name="result" value="{'state':0,'id':'{{data.id}}','user_id':'{{data.user_id}}'}">打回</button>
                    <button class="submitResult" formmethod="post" type="submit" name="result" value="{'state':1,'id':'{{data.id}}','user_id':'{{data.user_id}}'}">通过</button>
                </div>
            </div>

        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block footer %}
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<script src="https://res.wx.qq.com/open/libs/weuijs/1.1.3/weui.min.js"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/admin.js') }}"></script>
{% endblock %}