{% extends 'lost_and_found_base.html' %}

{% block button %}
    <a class="top-button" href="{{url_for('lost_and_found.index', appid=appid , openid=openid ,sex=sex )}}" type="button">回到首页</a>
{% endblock %}

{% block content %}
    <div class="app-release-bar">
        <div class="app-release-title">
            <b>发布信息</b>
        </div>
    </div>
    <div class="app-content">
        <form method="POST">
            <div class="release-select">
                <input  type="radio" name="status" value="lost">我丢东西啦<br>
                <input type="radio" name="status" value="found">我捡到东西啦<br>
            </div>
            <label class="app-conetnt-form-title" for="article">物品名称</label><br>
            <input class="app-conetnt-form-textbox" name="article" id="article" maxlength="15" style="overflow:scroll;height:30px;width: 90%"required><br>
            <label class="app-conetnt-form-title" for="receive_name">接收者姓名</label><br>
            <input class="app-conetnt-form-textbox" name="receive_name" id="receive_name" maxlength="10" style="overflow:scroll;height:30px;width: 90%" placeholder="例如：拾取到遗失物品上物主的姓名" required><br>
            <label class="app-conetnt-form-title" for="send_name">发送者姓名</label><br>
            <input class="app-conetnt-form-textbox" name="send_name" id="send_name" maxlength="10" style="overflow:scroll;height:30px;width: 90%" required><br>
            <label class="app-conetnt-form-title" for="content">Msg</label><br>
            <textarea class="app-conetnt-form-textbox" name="content" id="content" placeholder="別忘了寫上聯繫方式" maxlength="500" style="overflow:hidden;height:200px;width: 90%"></textarea>
            <div class="app-content-button">
                <input type="submit" style="background-color: red;border: none;text-align: center;font-size: 16px;display: inline-block;" value="提交">
                <input type="reset" name="reset-button" id="reset-button" style="background-color: red;border: none;text-align: center;font-size: 16px;display: inline-block;" value="重置">
            </div>
        </form>
    </div>
{% endblock %}
